.layout {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
}

.layout .navbar {
    max-width: 200px;
    min-width: 170px;
    width: 100%;
    position: relative;
    border-right: 1px solid #cccccc;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.layout .navbar .footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 25px;
}

.layout .navbar .footer .profile {
    width: 100%;
}

.profile .lastname {
    font-weight: 500;
}

.layout .navbar ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.layout .navbar ul a {
    text-decoration: none !important;
}

.layout .navbar ul a.active {
    text-decoration: underline !important;
}

.layout .navbar ul a:hover {
    text-decoration: underline !important;
}

.layout .navbar .logout {
    font-weight: 500;
    opacity: 0.7;
}

.layout .content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.layout .content .topbar {
    max-height: 55px;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: .5px solid #cccccc;
}

.layout .content .main-block {
    min-height: calc(100% - 65px);
    display: flex;
    transition: all .4s ease-in;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.layout .content .content-block {
    min-width: 200px;
    width: 100%;
    height: fit-content;
    padding: 25px;
}

.layout .content-block .header {
    border-bottom: 1px solid #cccccc;
    max-width: 800px;
    margin: 0 15px 50px 15px;
    padding-bottom: 15px;
}

.layout .content .content-block .title {
    font-weight: 500;
    font-size: 16px;
    text-decoration: underline;
}

.layout .content .content-block .subtitle {
    font-weight: 200;
    text-decoration: underline;
    font-size: 14px;
    margin-right: 10px;
}

.layout .content .content-block .panel-display {
    min-width: 150px;
    width: 150px;
    min-height: 120px;
    height: 120px;
    border: 1px solid #cccccc;
    position: relative;
}

.layout .content .content-block .panel-display::before, .panel-display::after {
    font-size: .7rem;
    color: #b3b3b3;
    position: absolute;
}

.layout .content .content-block .panelList {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 25px;
}

.panelList .panel {
    display: flex;
    justify-content: space-between;
    max-width: 800px;
}

.panelList .panel ul {
    min-width: 300px;
    margin: 0;
    padding: 0;
    list-style-type: none;
    height: 120px;
}

.panel-display .perim-icon.top {
    position: absolute;
    top: -35px;
    right: -10px;
}

.panel-display .perim-icon.left {
    position: absolute;
    transform: rotate(90deg);
    left: -60px;
    bottom: 25px;
}

.panel-display::before {
    content: attr(data-long);
    bottom: 40%;
    left: 15px;
}

.panel-display::after {
    content: attr(data-larg);
    right: 40%;
    top: 10px;
}

.layout .sidebar {
    min-width: 350px;
    border-left: .5px solid #ccc;
    display: none;
    background: #ffffff;
}

.layout .sidebar.active {
    display: block;
}
